<div class="perk" onclick="location='/perks/<%= perk.id %>'">
  <img src="http://placekitten.com/g/320/150" />
  <div class="content">
    <h3 style="name"><%= perk.name %></h3>
    <div style="description"><%= perk.description %></div>
  </div>
</div>
