<div class="perk large-4 medium-4 small-12 columns" onclick="location='/perks/<%= perk.id %>'">
  <div class="perk-inner">
    <img src="<%= asset_path('cat-icon.jpeg') %>" style="width: 100%;" />
    <div class="description">
      <h4 style="name"><%= perk.name %></h4>
    </div>
  </div>
</div>
