<h4><%= @perk.name %></h4>
<img style="width: 100%;" src="/assets/hero-cat.jpeg" />
<p></p>
<div>
  <a href="<%= @perk.perk_url %>" class="button" />Redeem Now</a>
</div>
<hr class="divider" />
<p>
  <%= raw @perk.description %>
</p>
