.header { text-align: center; background-color: #fff; padding: 12px; border-bottom: solid 2px #000; }
body { font-size: 18px !important; padding: 0px; margin: 0px; background-color: #eee; }
.perk { float: left; background-color: #fff; padding: 20px; margin: 10px; width: 20%; }
.perk .description { color: #ccc; }
.perk .redeem { display: block; margin-top: 20px;}
.perk { cursor: pointer; border: solid 1px #ccc; }
